*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(./images/phys2.jpg);
    background-size: cover;
    background-position: right;
}

nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: red;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color:red;
    transition: .4s;
    font-weight: bolder;
}

.btn{
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 25px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.1);
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: white;
    margin: 20px 0 20px;
    font-size: 70px;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}

.share{
    position: absolute;
    top: 90%;
    left: 8%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.share p{
    font-size: 17px;
    color: red;
    margin-right: 60px;
}

.share .social a{
    display: inline-block;
    color: white;
    margin-right: 15px;
    transition: transform .3s;
    font-size: larger;
}

.share .social a:hover{
    transform: scale(1.6);
}