*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    min-height: 100vh;
    width: 100vw;
    position: relative;
   
   

}

.hero{
    min-height: 100vh;
    width: 100%;
    /* background: linear-gradient(to right, #e6dada, #274046); */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2%;
    padding-left: 2%;
    background-color: rgb(180, 170, 170);
    height: 70px;
    /* position: fixed;
    top: 0;
    width: 100%; */
}

.logo{
    color: black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: red;
}

nav ul{
    flex: 1;
    text-align: right;

}

nav ul li{
list-style: none;
display: inline-block;
padding: 0 25px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    
}

nav ul li a:hover{
    color: red;
    transition: .3s;
    font-size: 20px;
    font-weight: bolder;
    border-bottom: 5px solid red;

}

.btn{
background-color:black;
    border: 2px solid black;
    padding: 10px 25px;
    color: white;
    font-weight: bolder;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 80px;
}

.btn:hover{
    transition: .3s;
    background-color: red;
} 

 .bg img{
    height: 90vh;
    border-radius: 30% 70% 67% 33% / 30% 30% 70% 70% ;
    float: right;
    padding-top: 20px ;
    padding-right: 300px;
    background-color: tomato;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
    
 }

 .content{
    padding-top: 200px;
    padding-left: 200px;
    
 }

.content h1{
    font-size: 80px;
    color: black;
    margin-bottom: 25px;
    line-height: 100px;
}

.content h3{
    font-size: 30px;
    color: black;
   }

h2{
    color: black;
}

 .content2{
    font-size: 60px;
    text-align: center;
    padding-top: 100px;
 }
   
    
.icon{
    border: 5px solid black;
    display: inline-block;
    width: 400px;
    height: 400px;
    text-align: center;
    padding-top: 30px;
    border-radius: 30px;
    
}

.contact{
    text-align: center;
    margin-top: 30px;
}



.loc{
    padding-top: 20px;
    font-size: 40px;
    font-weight: bolder;
}


.fab, .fa-brands, .fa-solid{
        font-size: 30px;
        color: black;
    }

   
 .fa-solid:hover{
font-size: 40px;
color: white;
    }

    .fa-brands:hover{
        font-size: 40px;
        color: white;
            }

            .fab:hover{
                font-size: 40px;
                color: white;  
            }


    .contact-form{
        background-color:rgb(150, 141, 141);
        color: white;
        width: 35%;
        padding: 30px 50px;
        font-weight: bolder;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
       
       
     }
    
    input[type=text], input[type=email]{
        width: 100%;
        display: inline-block;
        padding: 12px 20px;
      margin: 8px 0;
      font-weight: bolder;
      border-radius: 10px;
     }
    
    textarea{
    width: 100%;
    display: inline-block;
        padding: 12px 20px;
      margin: 8px 0;
      border-radius: 10px;
     
    }
    
    input[type=submit]{
        width: 100px;
        height: 40px;
        font-size: 20px;
        border-radius: 10px;
        font-weight: bold;
    }

    input[type=submit]:hover{
        background-color: plum;
    }
    
    input[type=text], input[type=email], textarea, input[type=submit]{
        box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
    }

    h3{
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
    }

    .contact-form2{
        background-color: tomato;
        width: 60%;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        padding: 10px;
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
    }

    main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, 300px);
        margin: 50px;
        gap: 50px;
       

    }

    main > div{
        border-radius: 10px;
        padding: 10px;
        border: 3px solid rgb(199, 193, 193);
        box-shadow: 10px 10px 50px rgba(0,0,0,0.3);
    }

    .sectn1{
        grid-column: 1 / 2;
        grid-row: 1 / 4;
      
    } 

    .skills ul {
        padding: 20px;
        font-size: 25px;
    }

    h4{
        padding-left: 4px;
        font-size: 25px;
    }

    .lang ul {
        padding: 20px;
        font-size: 25px;
    }

    .hobby ul{
        padding: 20px;
        font-size: 25px;
    }

    .animate__animated{
        animation-duration: 2s;
    }


  

 

   

   

  
    

    